[Unit]
Description=Cinemate Web Kiosk (Wayfire)
Documentation=https://github.com/Tiramisioux/cinemate
After=seatd.service network.target cinemate-autostart.service user@1000.service
Wants=seatd.service cinemate-autostart.service user@1000.service

[Service]
User=pi
Type=simple
Restart=on-failure
RestartSec=5
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WLR_RENDERER=pixman
Environment=WLR_BACKENDS=drm
ExecStartPre=/bin/mkdir -p /run/user/1000
ExecStartPre=/bin/chown pi:pi /run/user/1000
ExecStart=/usr/bin/wayfire -c /home/pi/.config/wayfire.ini

[Install]
WantedBy=multi-user.target
